---
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { BsArrowRightCircle } from "react-icons/bs";

type Props = {
  authors: CollectionEntry<"authors">[];
};
const { authors } = Astro.props;
---

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 justify-items-center">
  {
    authors.map((author) => (
      <div class="mb-8 text-center">
        {author.data.image && (
          <div class="mb-4">
            <Image
              src={author.data.image}
              alt={author.data.title}
              height={150}
              width={150}
              widths={[150, 300]}
              sizes="150px"
              class="mx-auto"
              format="webp"
            />
          </div>
        )}
        <h3 class="h4 mt-8 mb-3">
          <a
            href={`/autores/${author.id}`}
            class="block hover:text-primary transition duration-200"
          >
            {author.data.title}
          </a>
        </h3>
        {author.body && (
          <p class="mb-3" set:text={markdownify(author.body.slice(0, 100))} />
        )}

        <a
          href={`/autores/${author.id}`}
          class="inline-flex items-center text-primary transition duration-200 hover:opacity-70"
        >
          Ler Mais <BsArrowRightCircle className="inline ml-2" />
        </a>
      </div>
    ))
  }
</div>


