---
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";
import { Image } from "astro:assets";

// getEntry substitui o getEntryBySlug descontinuado
const entry = await getEntry("about", "-index");
const { Content } = await entry.render();
const { title, description, meta_title, image } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center md:col-10 lg:col-7">
          {
            image && (
              <Image
                src={image}
                class="mx-auto mb-6 rounded-lg"
                width={150}
                height={150}
                alt={title}
              />
            )
          }
          <h2 set:html={title} class="h3 mb-6" />
          <div class="content">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>