---
import Base from "@/layouts/Base.astro";
import { getEntry, render } from "astro:content";
import { Image } from "astro:assets";

const entry = await getEntry("about", "-index");
if (!entry) {
  return Astro.redirect("/404");
}

const { Content } = await render(entry);
const { title, description, meta_title, image } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section-sm py-20">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center md:col-10 lg:col-7">
          {
            image && (
              <Image
                src={image}
                /* mt-16 removido para zerar a distância do topo da imagem */
                class="mx-auto mb-10 rounded-lg"
                width={150}
                height={150}
                alt={title}
                format="svg"
              />
            )
          }
          <h2 set:html={title} class="h3 mb-6" />
          <div class="content">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>